.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0px;
  color: inherit;
  background-color: #f8bb3d;
  text-align: center;
}


.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
width: 100%;  margin:auto;}


.mbr-gallery-title:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
 }
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

body{
	background-color: #5b4842;
}

.h4d {
	color: #5b4842;
font-family: 'Dosis', sans-serif;
	font-weight: 100;
	
	
}


.h4d:hover {
	-webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);

text-shadow: 2px 2px 0px rgba(0,0,0,0.2);

}


.navbar-right {
	margin-top: 10px;
    margin-right: 15px;


  }
